<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2>Log In</h2>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email"/>
        <mat-error>
          {{ getErrorMessage(email) }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" [type]="inputType"/>
        <mat-error>{{ getErrorMessage(password) }}</mat-error>
      </mat-form-field>

      <!-- TODO: Login error -->
      <!--      <mat-error *ngIf="">-->
      <!--        The username and password were not recognized-->
      <!--      </mat-error>-->

      <button mat-raised-button color="primary" [disabled]="form.invalid">
        Submit
      </button>
      <button
        mat-icon-button (click)="hidePassword = !hidePassword"
        [matTooltip]="hidePassword ? 'Show passwords' : 'Hide passwords'" type="button">
        <mat-icon>{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
      </button>
    </form>
  </mat-card-content>
</mat-card>
