<mat-toolbar color="primary">
  <span class="brand">Jeera</span>

  <button
    mat-flat-button
    color="primary"
    routerLink="/tickets"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}">
    <mat-icon>list</mat-icon>
    Backlog
  </button>

  <button mat-flat-button color="primary" routerLink="/tickets/board" routerLinkActive="active">
    <mat-icon>dashboard</mat-icon>
    Board
  </button>

  <button mat-flat-button color="primary" routerLink="/users" routerLinkActive="active">
    <mat-icon>manage_accounts</mat-icon>
    Manage Users
  </button>

  <button mat-flat-button color="primary" routerLink="/about" routerLinkActive="active">
    <mat-icon>help_outline</mat-icon>
    About
  </button>

  <span class="navbar-spacer"></span>

  <button mat-flat-button color="primary" routerLink="/register" routerLinkActive="active">
    <mat-icon>person_add</mat-icon>
    Register
  </button>

  <button mat-flat-button color="primary" routerLink="/login" routerLinkActive="active">
    <mat-icon>login</mat-icon>
    Login
  </button>

  <button mat-flat-button color="primary" routerLink="/logout" routerLinkActive="active">
    <mat-icon>logout</mat-icon>
    Logout
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
